/* app css stylesheet */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
overflow: hidden;
background-color: #086c85;
padding: 20px 10px;
}


.header a.logo {
font-size: 25px;
font-weight: bold;
}

.header a:hover {
background-color: rgb(31, 8, 233);
color: black;
}
.header h1{
color: rgb(11, 71, 87);
text-align:center;
background:white;

}
.header a.active {
background-color: rgb(19, 4, 226);
color: rgb(7, 7, 221);
}

.header-right {
float: right;
padding: 10px 10px
}
.header h2{
color: white;
font-size: 200%;
text-align:center

}


/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: right;
  padding: 20px;
  width: 95%;
  background-color: #1e7f97;
  height:100px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: rgb(73, 156, 194);
  text-align: center;
  color: white;
  position: relative;
  
}

.btn-group button {
background-color: LIGHTCYAN; /* Green background */
border: 1px solid green; /* Green border */
color: white; /* White text */
padding: 30px 30px; /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: right; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}

.btn-group button:not(:last-child) {
border-right: none; /* Prevent double borders */
}
.btn-group a:hover {
  background-color: rgb(31, 8, 233);
  color: black;
  }
 
  .btn-group a.active {
  background-color: rgb(19, 4, 226);
  color: rgb(7, 7, 221);
  }
