<html>
 
<head>
  
               
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
 
<!-- Compiled and minified JavaScript -->
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 
<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
 
 
 
</head>
   
</head>
<body>
<div  ng-app="myApp" ng-controller="myCtrl">
    <h4><b> REGISTER PRODUCT </b></h4>
    <div>
    <table style="width:100%">
    <tr><th><input type="text" name="drugID" placeholder="Enter drug ID" ng-model="drugID" required></th></tr>
    <tr><th><input type="text" name="drugName" placeholder="Enter drug name" ng-model="drugName" ></th></tr>
    <tr><th><input type="text" name="quantity" placeholder="Quantity available" ng-model="quantity"></th></tr>
    <tr><th><input type="text" name="make" placeholder="Manufacturer  name" ng-model="make"></th></tr>
    <tr><th><input type="text" name="supplier" placeholder="Supplier Name" ng-model="supplier"></th></tr>
    <tr><th><input type="submit" ng-click="Create()"></th></tr>
 
    </table> 
    </div>
    <div ng-show="sucess">
      Registered with transaction Id {{transactionId}}
    </div>
</div>
 
</body>
<script>
  
var app = angular.module('myApp', []);
 
app.controller('myCtrl',['$scope','$http','$timeout',function ($scope,$http,$timeout) {
  $scope.transactionId="";
  $scope.sucess=false
$scope.Create = function(){
  $scope.message = "Product have been created sucessfully";
$scope.uuid_1=$scope.uuid;
$scope.setValue();
}
$scope.setValue=function() {
 
  var drugName =  $scope.drugName;
  var quantity = $scope.quantity;
  var drugStatus = "AVAILABLE";
  var make =  $scope.make;
  var supplier = $scope.supplier
  var make="resource:org.acme.pharma_network.Manufacturer#"+make
  var supplier= "resource:org.acme.pharma_network.Supplier#"+supplier
  var request={
  "$class": "org.acme.pharma_network.register",
  "din": $scope.drugID,
  "drug": {
    "$class": "org.acme.pharma_network.Drug",
    "drugName": drugName,
    "quantity": quantity,
    "drugStatus": "AVAILABLE",
    "make": make,
    "batch": []
  }
}

     var requestInfo = Request();
   
     data : requestInfo
 
  var res = $http.post('http://ec2-54-158-121-223.compute-1.amazonaws.com:3000/api/register',request).then(function successCallback(response){
           alert("Successfully registered product");
           $scope.sucess=true
           $scope.update_response=response;
           $scope.transactionId=$scope.update_response.data.transactionId
          
       }, function errorCallback(response){
           console.log("POST-ing of data failed");
       });
}
 
function Request() {
 
  return {
    "Request" : {
        "$class": "org.acme.pharma_network.register",
  "din": "",
  "drug": {
    "$class": "org.acme.pharma_network.Drug",
    "drugName": "",
    "quantity": 0,
    "drugStatus": "AVAILABLE",
    "make": "",
    "batch": []
  }
   }
    }
  };
 
}]);
 
 
 
</script>
 
</html>