<html>
 
<head>
  
               
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
 
<!-- Compiled and minified JavaScript -->
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
 
<script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <style>
 select{
     display: inline;
 }</style>
</head>

<body>
<div  ng-app="myApp" ng-controller="myCtrl">
    <h4><b>UPDATE ORDER STATUS</b></h4>
    <div>
    <table style="width:100%">
    <tr><th><input type="text" name="orderID" placeholder="Enter order ID" ng-model="orderID" required></th></tr>
    <tr><th><input type="text" name="moisture" placeholder="Moisture content" ng-model="moisture"></th></tr>
    <tr><th><input type="text" name="shake" placeholder=" Max shake experienced" ng-model="shake"></th></tr>
    <tr><th><input type="text" name="temperature" placeholder="Current temperature" ng-model="temperature"></th></tr>
    <tr><th><select id="mySelect">
            <option value="SHIPPED_BY_MANUFACTURER">SHIPPED_BY_MANUFACTURER</option>
            <option value="RECEIVED_BY_DISTRIBUTER">RECEIVED_BY_DISTRIBUTER</option>
            <option value="SHIPPED_BY_DISTRIBUTER">SHIPPED_BY_DISTRIBUTER</option>
            <option value="RECEIVED_BY_PHARMACY">RECEIVED_BY_PHARMACY</option>
        </select></th></tr>
    <tr><th><input type="submit" ng-click="Create()"></th></tr>
 
    </table> 
    </div>
    <div ng-show="sucess">
            Updated order status with transaction Id {{transactionId}}
           </div>
           <div ng-show="failuier">
                Failed to update data
               </div>
</div>
 
</body>
<script>
  
var app = angular.module('myApp', []);
 
app.controller('myCtrl',['$scope','$http','$timeout',function ($scope,$http,$timeout) {
    $scope.sucess=false
  $scope.transactionId="";
  $scope.failuier=false
$scope.Create = function(){
    $scope.x = document.getElementById("mySelect").value;
    //var strSel = "The Value is: " + e.options[e.selectedIndex].value + " and text is: " + e.options[e.selectedIndex].text;
   // alert($scope.x);
  $scope.message = "Product have been created sucessfully";
$scope.setValue();
}
$scope.setValue=function() {
  var request={
  "$class": "org.acme.pharma_network.UpdateOrderStatus",
  "order": "resource:org.acme.pharma_network.Order#"+$scope.orderID,
  "orderStatus": $scope.x,
  "moisture": $scope.moisture,
  "shake": $scope.shake,
  "temperature": $scope.temperature
}
     var requestInfo = Request();
   
     data : requestInfo
 
  var res = $http.post('http://ec2-54-158-121-223.compute-1.amazonaws.com:3000/api/UpdateOrderStatus',request).then(function successCallback(response){
           $scope.update_response=response;
           $scope.sucess=true
           $scope.transactionId=$scope.update_response.data.transactionId
       }, function errorCallback(response){
        $scope.failuier=true
           console.log("Couldn't update data");
       });
}
 
function Request() {
 
  return {
    "Request" : {
        "$class": "org.acme.pharma_network.UpdateOrderStatus",
        "order": "resource:org.acme.pharma_network.Order#7699",
        "orderStatus": "WITH_MANUFACTURER",
        "moisture": "",
        "shake": "",
        "temperature": ""
   }
    }
  };
 
}]);
 
 
 
</script>
 
</html>